
# Card Verification Status

Verification status of Card.

## Enumeration

`CardVerificationStatus`

## Fields

| Name | Description |
|  --- | --- |
| `VERIFIED` | Card has been verified |
| `FAILED` | Card verification has failed |

## Example

```java
import com.paypal.sdk.models.CardVerificationStatus;

CardVerificationStatus cardVerificationStatus = CardVerificationStatus.VERIFIED;
```

