/*
 * PaypalServerSdkLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.paypal.sdk.controllers;

import com.paypal.sdk.ApiHelper;
import com.paypal.sdk.Server;
import com.paypal.sdk.exceptions.ApiException;
import com.paypal.sdk.exceptions.DefaultErrorException;
import com.paypal.sdk.exceptions.SearchErrorException;
import com.paypal.sdk.http.request.HttpMethod;
import com.paypal.sdk.http.response.ApiResponse;
import com.paypal.sdk.models.BalancesResponse;
import com.paypal.sdk.models.SearchBalancesInput;
import com.paypal.sdk.models.SearchResponse;
import com.paypal.sdk.models.SearchTransactionsInput;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TransactionsearchController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TransactionsearchController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Lists transactions. Specify one or more query parameters to filter the transaction that
     * appear in the response. Notes: If you specify one or more optional query parameters, the
     * ending_balance response field is empty. It takes a maximum of three hours for executed
     * transactions to appear in the list transactions call. This call lists transaction for the
     * previous three years.
     * @param  input  SearchTransactionsInput object containing request parameters
     * @return    Returns the SearchResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SearchResponse> searchTransactions(
            final SearchTransactionsInput input) throws ApiException, IOException {
        return prepareSearchTransactionsRequest(input).execute();
    }

    /**
     * Lists transactions. Specify one or more query parameters to filter the transaction that
     * appear in the response. Notes: If you specify one or more optional query parameters, the
     * ending_balance response field is empty. It takes a maximum of three hours for executed
     * transactions to appear in the list transactions call. This call lists transaction for the
     * previous three years.
     * @param  input  SearchTransactionsInput object containing request parameters
     * @return    Returns the SearchResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SearchResponse>> searchTransactionsAsync(
            final SearchTransactionsInput input) {
        try {
            return prepareSearchTransactionsRequest(input).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchTransactions.
     */
    private ApiCall<ApiResponse<SearchResponse>, ApiException> prepareSearchTransactionsRequest(
            final SearchTransactionsInput input) {
        return new ApiCall.Builder<ApiResponse<SearchResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/reporting/transactions")
                        .queryParam(param -> param.key("start_date")
                                .value(input.getStartDate()))
                        .queryParam(param -> param.key("end_date")
                                .value(input.getEndDate()))
                        .queryParam(param -> param.key("transaction_id")
                                .value(input.getTransactionId()).isRequired(false))
                        .queryParam(param -> param.key("transaction_type")
                                .value(input.getTransactionType()).isRequired(false))
                        .queryParam(param -> param.key("transaction_status")
                                .value(input.getTransactionStatus()).isRequired(false))
                        .queryParam(param -> param.key("transaction_amount")
                                .value(input.getTransactionAmount()).isRequired(false))
                        .queryParam(param -> param.key("transaction_currency")
                                .value(input.getTransactionCurrency()).isRequired(false))
                        .queryParam(param -> param.key("payment_instrument_type")
                                .value(input.getPaymentInstrumentType()).isRequired(false))
                        .queryParam(param -> param.key("store_id")
                                .value(input.getStoreId()).isRequired(false))
                        .queryParam(param -> param.key("terminal_id")
                                .value(input.getTerminalId()).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(input.getFields()).isRequired(false))
                        .queryParam(param -> param.key("balance_affecting_records_only")
                                .value(input.getBalanceAffectingRecordsOnly()).isRequired(false))
                        .queryParam(param -> param.key("page_size")
                                .value(input.getPageSize()).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value(input.getPage()).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Oauth2"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SearchResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("The error response.",
                                (reason, context) -> new SearchErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * List all balances. Specify date time to list balances for that time that appear in the
     * response. Notes: It takes a maximum of three hours for balances to appear in the list
     * balances call. This call lists balances upto the previous three years.
     * @param  input  SearchBalancesInput object containing request parameters
     * @return    Returns the BalancesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<BalancesResponse> searchBalances(
            final SearchBalancesInput input) throws ApiException, IOException {
        return prepareSearchBalancesRequest(input).execute();
    }

    /**
     * List all balances. Specify date time to list balances for that time that appear in the
     * response. Notes: It takes a maximum of three hours for balances to appear in the list
     * balances call. This call lists balances upto the previous three years.
     * @param  input  SearchBalancesInput object containing request parameters
     * @return    Returns the BalancesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<BalancesResponse>> searchBalancesAsync(
            final SearchBalancesInput input) {
        try {
            return prepareSearchBalancesRequest(input).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchBalances.
     */
    private ApiCall<ApiResponse<BalancesResponse>, ApiException> prepareSearchBalancesRequest(
            final SearchBalancesInput input) {
        return new ApiCall.Builder<ApiResponse<BalancesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/reporting/balances")
                        .queryParam(param -> param.key("as_of_time")
                                .value(input.getAsOfTime()).isRequired(false))
                        .queryParam(param -> param.key("currency_code")
                                .value(input.getCurrencyCode()).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Oauth2"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, BalancesResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The request is not well-formed, is syntactically incorrect, or violates schema.",
                                (reason, context) -> new DefaultErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Authorization failed due to insufficient permissions.",
                                (reason, context) -> new DefaultErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("An internal server error occurred.",
                                (reason, context) -> new DefaultErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("The error response.",
                                (reason, context) -> new DefaultErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}